## Functions

In [1]:
def factorial(n):
    if n == 0 | n== 1:
        print(1)
    else:
        i = 2
        ans = 1
        while( i <= n):
            ans = ans * i
            i += 1
        print(ans)

In [2]:
# function call
factorial(4)

24

In [4]:
def sum_numbers(a,b):
    print(a+b)

In [5]:
sum_numbers(3 , 7)

10

In [7]:
isinstance(10 , (int))

True

In [8]:
isinstance(10 , (int , float))

True

In [10]:
isinstance("a" , (int , float))

False

In [12]:
def sum_of_numbers(a , b):
    if isinstance(a , (int , float)) & isinstance(b , (int,float)):
        print(a+b)
    else:
        print('Enter correct values')

In [13]:
sum_of_numbers(10,20)

30

In [14]:
sum_of_numbers('a',20)

Enter correct values

In [15]:
type(sum_of_numbers)

function

In [16]:
print(sum_of_numbers(10,20))

30
None

In [23]:
def factorial(n):
    if n == 0 | n== 1:
        return 1
    i = 2
    ans = 1
    while( i <= n):
        ans = ans * i
        i += 1
    return ans

In [24]:
print(factorial(10))

3628800

In [2]:
def sum_product(a,b,c):
    return a+b+c , a*b*c

In [26]:
print(sum_product(1,3,4))

(8, 12)

In [3]:
s , p = sum_product(1 , 2 ,3)  ## unpacking is used
print(s , p)

6 6

## Default parameter

In [4]:
def sum_product(a , b , c =0):   ## by default it will take c = 0 if no value is givem
    return a+b+c , a*b*c

In [5]:
print(sum_product(4,5))

(9, 0)

In [6]:
print(sum_product(4,5,1))

(10, 20)

## Positional and Keyword arguments

In [7]:
def func(a , b ,c):
    print(a , b, c)

In [8]:
func(1 , 2 ,3)  # positional arguments , parameters are assigned values based on thr position of the arguments

1 2 3

In [9]:
func(a = 1 , c = 3 , b = 2) # keyword arguments , position doesn't matter

1 2 3

In [10]:
func(b = 2 , c = 3 , a = 1)

1 2 3

## Variable length positional arguments

In [12]:
def func(a , b):
    print(a)
    print(b)

In [13]:
func(1 , 2)

1
2

In [14]:
func(1)

TypeError: func() missing 1 required positional argument: 'b'

In [15]:
def func(a , *b):  ## *b will give output as tuple
    print(a)
    print(b)

In [16]:
func(1 , 3)

1
(3,)

In [18]:
func(1 , 2 ,3 , 4 ,55)

1
(2, 3, 4, 55)

In [21]:
def func2(a , *args): # *args naming convention is used
    print(a)
    print(args)

In [22]:
func2(2 , 3 , 4,5)

2
(3, 4, 5)

## Varaible length keyword argument

In [27]:
def func(**kwargs):  # give output as dictionary
    print(kwargs)

In [24]:
func(a = 3 , x =4)

{'a': 3, 'x': 4}

In [30]:
def func(**kwargs):  # give output as dictionary
    print(kwargs)
    print(kwargs['a'])
    print(kwargs['b'])

In [31]:
func(a = 3 , b =4)

{'a': 3, 'b': 4}
3
4

In [33]:
def func(a , b , c=0 , *args , **kwargs ):
    print("Required positional arguments")
    print("a" , a)
    print("b" , b)
    print("args" , args)
    print("kwargs" , kwargs)
    print("c" , c)

In [35]:
func(1 , 2 , 3 , 4 ,5 , 6 , d = 'a ' , i = 56)

Required positional arguments
a 1
b 2
args (4, 5, 6)
kwargs {'d': 'a ', 'i': 56}
c 3

In [ ]:
## Lambda functions

In [1]:
def product(a , b):
    return a*b

In [9]:
x = product(2 , 3)
print(x)

6

In [2]:
a = lambda a, b :a*b

In [3]:
a(4,5)

20

In [4]:
def sum(a , b, c):
    return a+b+c

In [5]:
b = lambda a,b,c :a + b + c

In [6]:
b(2,3,4)

9

In [12]:
l = [("luffy" , 20 ),
     ("zoro" , 21) ,
     ("nami" , 19),
     ("chopper" , 21)
    ]

In [14]:
l.sort()
print(l)

[('chopper', 21), ('luffy', 20), ('nami', 19), ('zoro', 21)]

In [15]:
sorted(l)

[('chopper', 21), ('luffy', 20), ('nami', 19), ('zoro', 21)]

In [16]:
l = [("luffy" , 20 ),
     ("zoro" , 21) ,
     ("nami" , 19),
     ("chopper" , 21),
     ("luffy" , 21)
    ]

In [18]:
l.sort()  # it is sorting based on both the values
print(l)

[('chopper', 21), ('luffy', 20), ('luffy', 21), ('nami', 19), ('zoro', 21)]

In [19]:
def keyfunc(t): # we are passing tuple here
    return t[1] # we are passing t[1] which is 21

In [20]:
sorted(l , key = keyfunc) ## it will sort according to the key which is 21 , 20

[('nami', 19), ('luffy', 20), ('chopper', 21), ('luffy', 21), ('zoro', 21)]

In [21]:
l = [ ("zoro" , 1 , 23) ,
      ("sanji" , 2 , 24),
     ("nami" , 3 , 25) ,
     ("usoop" , 4 , 24) , 
     ("robin" , 5 , 27)
]

In [23]:
def keyfunc(t):
    return t[2]

In [24]:
sorted(l , key = keyfunc)

[('zoro', 1, 23),
 ('sanji', 2, 24),
 ('usoop', 4, 24),
 ('nami', 3, 25),
 ('robin', 5, 27)]

## Iterators

In [26]:
l = [10 , 20, 30]
it = iter(l)

In [27]:
type(it)

list_iterator

In [28]:
it.__next__()

10

In [29]:
d = { "a":10 , "b":20 , "c":30}

In [30]:
itd = iter(d)

In [31]:
type(itd)

dict_keyiterator

In [35]:
itd.__next__()

StopIteration:

In [36]:
s1 = iter("hello")

In [38]:
s1.__next__()

'e'

In [40]:
 l = ["naruto" , "sasuke" , "sakura" , "itachi"]
## we are a making a dict of it
d = {}
for i in range(1 , len(l)):
    d[l[i - 1]] = i
print(d)

{'naruto': 1, 'sasuke': 2, 'sakura': 3}

In [ ]:
d = { }

## Zip function

In [47]:
l1 = [10 , 20 , 30 ,40 , 50]
l2 = ["A" , "B" , "C" , "D" , "T"]
## we want to iterate on both the list together

for x in zip(l1 , l2):
    print(x)              # we are iterating over l1 and l2 together and getting a tuple

(10, 'A')
(20, 'B')
(30, 'C')
(40, 'D')
(50, 'T')

In [48]:
print("="*30)

==============================

## Generators