## Taking input from User and Type Casting
write a program to take input from user to add

In [3]:
a = input("Enter first number ")
b = input("Enter second number ")
print("The sum of a and b" , a+b)

Enter first number 10
Enter second number 20
The sum of a and b 1020

In [4]:
type(a)

str

In [5]:
type(b)

str

In [6]:
s1  = "435"
s2 = "789"
s1 + s2

'435789'

In [7]:
s1  = "435"
s2 = "789"
print(s1 + s2)

435789

In [8]:
a = int(a)
b = int(b)
a+b

30

In [9]:
a = int(a)
b = int(b)
print(a+b)

30

In [11]:
a = int(input("Enter a number"))
b = int(input("Enter a second number"))
print(a + b)

Enter a number30
Enter a second number40
70

In [12]:
type(a)

int

In [ ]:
## shortcut for comment/uncomment -> ctrl + /
# a = 23
# b = 45

In [13]:
## to convert int to string
a = 23
print(a , type(a))
a = str(a)
print(a , type(a))

23 <class 'int'>
23 <class 'str'>

## String Formatting
- Concatenation using +
- format()
- %()
- f strings

In [ ]:
# Expected output -> "My name is subhajit . I am doing my post graduates from IIITG"

In [14]:
name = str(input("Enter your name"))
college = str(input("Enter your college name"))
print("My name is "+ name + ". I am doing my post graduation from " + college)

Enter your nameluffy
Enter your college nameonepiece
My name is luffy. I am doing my post graduation from onepiece

In [15]:
name = "subhajit"
college = " IIIT Guwahati"

In [16]:
s = "My name is {} , I am doing my post graduation form {}".format(name , college)
print(s)

My name is subhajit , I am doing my post graduation form  IIIT Guwahati

In [17]:
s = "My name is {a} , I am doing my post graduation form {b}".format(a=name , b=college)
print(s)

My name is subhajit , I am doing my post graduation form  IIIT Guwahati

In [18]:
s = f"My name is {name} , I am doing my post graduation form {college}"
print(s)

My name is subhajit , I am doing my post graduation form  IIIT Guwahati

## Comparison Operators
<= >= > < == !=

In [20]:
a = 23
b = 45
print(a >= b)

False

In [21]:
a = 23
b = 45
a >= b

False