## College Rank 1

In [2]:
inp = list(map(int, input().split()))

4 5

In [3]:
C = inp[0]      # no. of college
N = inp[1]      # no. of students

In [86]:
C_no_of_seats = list(map(int, input().split()))

2 1 1 1

In [9]:
N_student = []

for i in range(0 , N , 1):
        temp = input().split(",")
        N_student.append(temp)

S-1,97.05,C-1,C-3,C-2
S-2,48.03,C-1,C-2,C-3
S-3,85.69,C-1,C-3,C-2
S-4,80.83,C-1,C-3,C-2
S-5,41.23,C-1,C-2,C-3

In [10]:
print(N_student)

[['S-1', '97.05', 'C-1', 'C-3', 'C-2'], ['S-2', '48.03', 'C-1', 'C-2', 'C-3'], ['S-3', '85.69', 'C-1', 'C-3', 'C-2'], ['S-4', '80.83', 'C-1', 'C-3', 'C-2'], ['S-5', '41.23', 'C-1', 'C-2', 'C-3']]

In [72]:
N_student2 = []
def convert(N_student):
    temp = N_student
    id1 = temp[0]
    id1 = int(id1[2])

    per = float(temp[1])
    per = int(per*100)

    choice1 = temp[2]
    choice1 = int(choice1[2])

    choice2 = temp[3]
    choice2 = int(choice2[2])

    choice3 = temp[4]
    choice3 = int(choice3[2])
    
    N_student2.append([id1,per,choice1,choice2,choice3])
    return

In [73]:

for i in range(0 , N , 1):
    temp = N_student[i]
    convert(temp)

In [74]:
print(N_student2)

[[1, 9705, 1, 3, 2], [2, 4803, 1, 2, 3], [3, 8569, 1, 3, 2], [4, 8083, 1, 3, 2], [5, 4123, 1, 2, 3]]

In [75]:
N_student = N_student2

In [76]:
print(N_student)

[[1, 9705, 1, 3, 2], [2, 4803, 1, 2, 3], [3, 8569, 1, 3, 2], [4, 8083, 1, 3, 2], [5, 4123, 1, 2, 3]]

In [77]:
# take second element for sort
def takeSecond(elem):
    return elem[1]

In [78]:
# sort list with key
N_student.sort(key=takeSecond)
N_student.reverse()

In [79]:
print(N_student)
print(C_no_of_seats)

[[1, 9705, 1, 3, 2], [3, 8569, 1, 3, 2], [4, 8083, 1, 3, 2], [2, 4803, 1, 2, 3], [5, 4123, 1, 2, 3]]
[2, 1, 1, 1]

In [80]:
# to check availability of seats
def check(C_no_seats , detail):
    
    choice1 = detail[2]-1 # choice shows college no.
    choice2 = detail[3]-1
    choice3 = detail[4]-1
    
    if C_no_seats[choice1] > 0:
        C_no_seats[choice1] -= 1
        return detail[2]
    elif C_no_seats[choice2] > 0:
        C_no_seats[choice2] -= 1
        return detail[3]
    elif C_no_seats[choice3] > 0:
        C_no_seats[choice3] -= 1
        return detail[4]
    
    return 0

In [87]:
output = []

for i in range(0 , N , 1):
    temp = N_student[i]
    result = check(C_no_of_seats , temp)
    id = temp[0]
    
    if result != 0:
        x = "Student-"+str(id)+" C-"+str(result)
        output.append(x)

In [88]:
print(output)

['Student-1 C-1', 'Student-3 C-1', 'Student-4 C-3', 'Student-2 C-2']

In [121]:
#print(C_no_of_seats)

[0, 0, 0, 1]

In [122]:
#print(output)

[[1, 1], [3, 1], [4, 3], [2, 2]]